@import './components/hud.css';

:root {
  font-family: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #0b0e14;
  /* SpaceX Dark Matter */

  --neon-blue: #00f3ff;
  --hsl-dark-matter: 220, 20%, 10%;
  --hsl-accent: 190, 100%, 50%;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #0b0e14;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

#app {
  width: 100%;
  height: 100%;
  position: relative;
}